<!DOCTYPE html>
<html>
<head>
	<title>О нас</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cosmo/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" type="text/css" href="css/index_style.css">  
 	<link rel="stylesheet" type="text/css" href="css/css/font-awesome.css"> 
</head>
<body style="background-color: #EEECEC;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-menu">
		<div class="row col-lg-12 col-md-12">
			<div class="col-md-2 col-lg-2">
				<a class="navbar-brand " href="#" style="margin-left: 50px;">UNI KG</a>
			</div>
			<div class="col-md-8 col-lg-8">
				<ul class="navbar-nav">
    	<div class="row col-md-12 col-lg-12">
      <li class="nav-item  col-md-2">
        <a class="nav-link " href="index.php">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item col-md-2">
        <a class="nav-link" href="about.php">О нас</a>
      </li>
      <li class="col-md-8 col-lg-8">
      </li>
      </div>
    </ul>			
			</div>
    <div  class=" col-lg-2"  style="padding-top: 10px;">
    	<a href="sign.html" style="color:white;"><h6>Войти/Зарегистрироваться</h6></a>	
    </div>
</div> 
</nav>
	<div style="position: relative; 
				margin: auto;
				margin-top: 100px;
				width: 600px; 
				height: 600px;
				background-color: #ffffff;
				box-shadow: 0 0 10px rgba(0,0,0,0.5); 
				text-align: center;
				padding: 10px;">
				<h1>О нас</h1>
				<h5>
					UNI KG - Доска обьявлений. 
				</h5>
		
	</div>
<div class="footer fixed-bottom" >
			<div class="footer_right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer_links">
					<a href="#">Главная</a>
					·
					<a href="#">О нас</a>
					·
					<a href="#">Обратная связь</a>
				</p>
				<p>UNI KG © <?php echo date("Y") ?></p>
			</div>
</div>
</body>
</html>