{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ad_style.css' %}">
{% endblock %}
{% block content %}
	<div id="main_content" class="container row" style="background-color: white">
	
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="col-12">
			{% for image in ad.images.all %}
			<img src="{{ image.image.url }}" class="image_ad_mini" onclick="myFunction(this);">
			{% endfor %}
		</div>
		<div class="col-12">
			{% if ad.images.all|length > 0  %}
		{% with ad.images.all|first as image %}
		<img id="expandedImg" class="image_ad img-responsive" src="{{ image.image.url }}">
		{% endwith %}
			{% else %}
                <img src="{% static 'icons/no_image.png' %}" id="expandedImg" class="image_ad img-responsive">
                {% endif %}
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row" id="content_adphp">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
			<h2>{{ ad.title }}</h2>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row" id="block_username">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Имя</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				<p>{{ ad.name }}</p>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row " id="block_price ">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Цена</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				{% if ad.price == 0 %}
					<p>Договорная</p>
				{% else %}
					<p>{{ ad.price }} {{ ad.valute }}</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row" id="block_phone ">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Номер</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				<p>{{ ad.number }}</p>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row" id="block_date_release">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Дата</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				<p>{{ ad.date }}</p>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row" id="block_views ">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Просмотров</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				<p>{{ ad.views }}</p>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row" id="block_text ">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 left_block_text">
				<p>Описание</p>
			</div>
			<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 right">
				<p>{{ ad.content }}</p>
			</div>
		</div>
	</div>
	</div>
<script>
	function myFunction(imgs) {
  // Get the expanded image
  var expandImg = document.getElementById("expandedImg");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.src = imgs.src;
  // Show the container element (hidden with CSS)
  expandImg.parentElement.style.display = "block";
}
</script>
{% endblock %}