{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_post_style.css' %}">
{% endblock %}
{% block panel_cat %}

{% endblock %}
{% block content %}
<div class="col-12 row"  style="margin-top:80px;">
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 align="center" style="font-weight:bold">Добавить обьявление</h2>
        <br>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="file" multiple name="images" accept="image/jpeg,image/png">
            <br><br>
            <button type="submit" class="form-control btn btn-primary">Отправить</button>
        </form>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0">

    </div>
</div>
{% endblock %}

