{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Доска обьявлений Uni KG</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_category.css' %}">
    {% block custom_css %}

    {% endblock %}
</head>
<body>
    {% block navbar  %}
        {% include 'includes/navbar.html' %}
    {% endblock %}
    {% block panel_cat  %}
        <div id="panel_cat" style="margin-top: 40px; background-color: #373a3c;">
        <hr id="hr_nav">
        <ul class="nav panel-tabs">
            {% for category in category_list %}
            <a href="{% url 'category' category.pk %}">
                <li>
                    <img src="{{ category.icon.url }}">
                    <div>{{ category.title }}</div>
                </li>
            </a>
            {% endfor %}
            <a href="{% url 'all_categories' %}">
                <li>
                    <img src="{% static 'icons/all.png' %}">
                    <div>Все категории</div>
                </li>
            </a>
        </ul>
</div>
    {% endblock %}

    <div id="myModal" class="modal col-12"><div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-3 col-xl-3 leftRightModal" id="left_story">

        </div>
        <div class="modal-content col-xs-12 col-sm-12 col-lg-6 col-xl-6">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="caption-container">
                <p id="caption"></p>
            </div>
            <br>
            <progress id="progress_story" max="100" value="0" style="width:100%"><span
                    id="progress_story_value">0</span>%
            </progress>
            <br>

            <div id="mySlideDiv">
                <img id="mySlides" src="#" style="width:100%;">
            </div>

            <!-- Next/previous controls -->
            <a id="prev" class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a id="next" class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Caption text -->

            <div id="columns">

            </div>
            <!-- Thumbnail image controls -->

        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 col-xl-3 leftRightModal" id="right_story">

        </div>
    </div>
        </div>
    {% block content %}

    {% endblock %}

    {% block footer  %}
        {% include 'includes/footer.html' %}
    {% endblock %}
</body>

</html>