{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block content %}
<!--    Search content -->
<div class="col-12 row" id="search_content">
    <form class="form form-inline col-12 row" action="{% url 'search' %}" method="GET">
        <select class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-12 search_border" name="region">
            <option value="">Все районы</option>
            {% for region in regions %}
            <option value="{{ region.pk }}">{{ region }}</option>
            {% endfor %}
        </select>
        <input class="form-control col-lg-7 col-md-7 col-xs-12 col-sm-9 search_border" name="search_text" type="text"
               placeholder="Поиск...">
        <button class="btn btn-secondary col-md-2 col-lg-2 col-sm-12 col-xs-12 search_border" type="submit">Поиск
        </button>
    </form>
</div>
<hr>
<!-- VIP content -->
<div class="container-fluid" id="vip-content" style=" padding: 25px 0;">
    {% if storie_list %}
    <div class="d-flex justify-content-center"><h3 style="font-weight:700;">VIP обьявления</h3></div>
    <!--Slides-->
    <div class="row flex-row flex-nowrap mt-4 pb-4 pt-2" style="overflow-x: auto;">
        {% for story in storie_list %}
        <div class="col-lg-2 card m-auto">
            {% with story.storyitem_set.all|first as media %}
            <p style="text-align:center; font-weight:bold; margin-top:15px;">{{ story.story_title }}</p>
            {% if media.story_type == 'mp4' %}
            <video width="100%" controls="controls">
                <source src="{{ media.story_src.url }}"
                        type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            {% else %}
            <img src="{{ media.story_src.url }}" onclick="openModal({{ story.pk }});"
                 class="hover-shadow"
                 style="max-height:300px;width:100%">
            {% endif %}
            {% endwith %}
        </div>
        {% endfor %}
        <!--/.First slide-->
        <!--/.Carousel Wrapper-->
    </div>
    {% endif %}
</div>

<!-- end VIP content -->
<hr>
<!-- Default content -->
<div class="container" id="content" style=" padding: 25px 0;">
    <div class="d-flex justify-content-center"><h3 style="font-weight:700;">Все обьявления</h3></div>
    <div id="product_block" class="row">
        <!--------------->
        {% for ad in ad_list %}
        <div class="product">
            {% if ad.is_vip == True %}
            <div class="product__favorites mcolor">
                <b class="favorites__icon">
                    <i class="fa fa-gem blue" aria-hidden="true" style="color:white; text-align:center;"></i>
                </b>
            </div>
            {% endif %}
            <div id="product__img">
                <a href="{{ ad.get_absolute_url }}" class="img__wrap">
                    {% if ad.images.all|length > 0 %}
                    {% with ad.images.all|first as image %}
                    <img src="{{ image.image.url }}" alt="" class="img">
                    {% endwith %}
                    {% else %}
                    <img src="{% static 'icons/no_image.png' %}" alt="" class="img">
                    {% endif %}
                </a>
            </div>
            <div class="product__content">
                <div class="product__title">
                    <a href="{{ ad.get_absolute_url }}" class="title__text">{{ ad.title }}</a>
                </div>
                <div class="product__info">
                    {% if ad.price == 0 %}
                    <div class="info__block">
                        <span><i class="fa fa-money-bill-alt" aria-hidden="true"></i> Договорная</span>
                    </div>
                    {% else %}
                    <div class="info__block">
                        <span><i class="fa fa-money-bill-alt"
                                 aria-hidden="true"></i> {{ ad.price }} {{ ad.valute }}</span>
                    </div>
                    {% endif %}
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span><i class="fa fa-calendar-alt" aria-hidden="true"></i> {{ ad.date }}</span>
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span>Просмотры: {{ ad.views }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}