{% extends 'base.html' %}

{% block content %}
    <!-- VIP content -->
    <div class="container" id="vip-content" style=" padding: 25px 0;">
        <div class="product-vip">
            <div class="product__favorites mcolor">
                <b class="favorites__icon">
                    <i class="fa fa-gem blue" aria-hidden="true" style="color:white; text-align:center;"></i>
                </b><b id="vip_text">VIP</b>
            </div>
            <div class="vip__img">
                <a href="ad.php?ad='.$id.'" class="img__wrap">
                    <img src="'.$image.'" alt="" class="img">
                </a>
            </div>
            <div class="product__content">
                <div class="product__title">
                    <a href="ad.php?ad='.$id.'" class="title__text">'.$title.'</a>
                </div>
                <div class="product__info">
                    <div class="info__block">
                        <span><i class="fa fa-money-bill-alt" aria-hidden="true"></i> '.$price.'</span>
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span><i class="fa fa-calendar-alt" aria-hidden="true"></i> '('Y-m-d').'</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end VIP content -->
    <!-- Default content -->
    <div class="container" id="content" style=" padding: 25px 0;">
        <div class="product">
            <div id="product__img">
                <a href="ad.php?ad='.$id.'" class="img__wrap">
                    <img src="'.$image.'" alt="" class="img">
                </a>
            </div>
            <div class="product__content">
                <div class="product__title">
                    <a href="ad.php?ad='.$id.'" class="title__text">'.$title.'</a>
                </div>
                <div class="product__info">
                    <div class="info__block">
                        <span><i class="fa fa-money-bill-alt" aria-hidden="true"></i> '.$price.'</span>
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span><i class="fa fa-calendar-alt" aria-hidden="true"></i> '('Y-m-d').'</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}