{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--    Search content -->
<div class="col-12 row" id="search_content">
    <form class="form form-inline col-12 row" action="{% url 'search' %}" method="GET">
        <select class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-12 search_border" name="region">
            <option value="">Все районы</option>
            {% for region in regions %}
            <option value="{{ region.pk }}">{{ region }}</option>
            {% endfor %}
        </select>
        <input class="form-control col-lg-7 col-md-7 col-xs-12 col-sm-9 search_border" name="search_text" type="text"
               placeholder="Поиск...">
        <button class="btn btn-secondary col-md-2 col-lg-2 col-sm-12 col-xs-12 search_border" type="submit">Поиск
        </button>
    </form>
</div>
<hr>
<!-- VIP content -->
<div class="container" id="vip-content" style=" padding: 25px 0;">
    <div class="d-flex justify-content-center"><h3 style="font-weight:700;">VIP обьявления</h3></div>

    <!-- Carousel wrapper -->
    <div class="container my-4">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="col-12 d-flex justify-content-center">
                <a href="#multi-item-example" data-slide="prev">
                    <button class="btn btn-outline-primary"><i class="fa fa-chevron-left"></i>пред.</button>
                </a>
                <a class="btn btn-outline-primary" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i>след.</a>
            </div>
            <br>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="col-12 row">
                        {% for ad_vip in ad_vip_list %}
                        <div class="col-md-3" id="vip_product">
                            <div class="card mb-2">
                                {% with ad_vip.images_set.all|first as image %}
                                <img class="card-img-top"
                                     src="{{ image.image.url }}"
                                     alt="Card image cap">
                                {% endwith %}
                                <div class="card-body">
                                    <h4 class="card-title">{{ ad_vip.title }}</h4>
                                    <p class="card-text">{{ ad_vip.content }}</p>
                                    <a class="btn btn-primary">Посмотреть</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/.First slide-->
            </div>
            <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!-- Carousel wrapper -->
</div>
<!-- end VIP content -->
<hr>
<!-- Default content -->
<div class="container" id="content" style=" padding: 25px 0;">
<div class="d-flex justify-content-center"><h3 style="font-weight:700;">Все обьявления</h3></div>
    <div id="product_block" class="row">
    <!--------------->
{% for ad in ad_list %}
    <div class="product">
        {% if ad.is_vip == True %}
        <div class="product__favorites mcolor">
            <b class="favorites__icon">
                <i class="fa fa-gem blue" aria-hidden="true" style="color:white; text-align:center;"></i>
            </b>
        </div>
        {% endif %}
        <div id="product__img">
            <a href="{{ ad.get_absolute_url }}" class="img__wrap">
                {% if ad.images_set.all|length > 0  %}
                {% with ad.images_set.all|first as image %}
                <img src="{{ image.image.url }}" alt="" class="img">
                {% endwith %}
                {% else %}
                <img src="{% static 'icons/no_image.png' %}" alt="" class="img">
                {% endif %}
            </a>
        </div>
        <div class="product__content">
            <div class="product__title">
                <a href="{{ ad.get_absolute_url }}" class="title__text">{{ ad.title }}</a>
            </div>
            <div class="product__info">
                {% if ad.price == 0 %}
                <div class="info__block">
                    <span><i class="fa fa-money-bill-alt" aria-hidden="true"></i> Договорная</span>
                </div>
                {% else %}
                <div class="info__block">
                    <span><i class="fa fa-money-bill-alt" aria-hidden="true"></i> {{ ad.price }} {{ ad.valute }}</span>
                </div>
                {% endif %}
                <div class="info__block">
                    <b class="info__icon"></b>
                    <span><i class="fa fa-calendar-alt" aria-hidden="true"></i> {{ ad.date }}</span>
                </div>
                <div class="info__block">
                    <b class="info__icon"></b>
                    <span>Просмотры: {{ ad.views }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
        </div>
</div>
{% endblock %}