{%  extends 'base.html' %}
{% load static %}
{% block title %}
<title>Поиск обьявлений</title>
{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-12 row" id="search_content">
    <form class="form form-inline col-12 row" action="{% url 'search' %}" method="GET">
        <select class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-12 search_border" name="region">
            <option value="">Все районы</option>
            {% for region in regions %}
            {% if region.pk|slugify == region_context|slugify %}
            <option value="{{ region.pk }}" selected>{{ region }}</option>
            {% else %}
            <option value="{{ region.pk }}" >{{ region }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input class="form-control col-lg-7 col-md-7 col-xs-12 col-sm-9 search_border" name="search_text" type="text"
               placeholder="Поиск..." value="{{ search_text }}">
        <button class="btn btn-secondary col-md-2 col-lg-2 col-sm-12 col-xs-12 search_border" type="submit">Поиск
        </button>
    </form>
</div>
<div id="content">
    <div style="text-align: center; margin-top: 30px; font-size: 25px;">
        <p>Найдено обьявлений ({{ result_count }}+)</p>
    </div>
    <hr>
    <hr>
    <div class="row" style="padding: 10%; padding-top: 0px;">
        {% for ad in result_list %}
        <div id="search_item" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" style="margin:10px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="color: black;">
                <a href="{{ ad.get_absolute_url }}">
                    {% if ad.images.all|length > 0  %}
                    {% with ad.images.all|first as image %}
                    <img class="img-responsive img_search" src="{{ image.image.url }}">
                    {% endwith %}
                    {% else %}
                <img src="{% static 'icons/no_image.png' %}" id="expandedImg" class="img-responsive img_search">
                {% endif %}
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="font-size: 20px;
        font-weight: 700">
                <a href="{{ ad.get_absolute_url }}"><p class="test_text">{{ ad.title }}</p></a>
                <div class="product__info">
                    <div class="info__block">
                        {% if ad.price == 0 %}
                        <span class="search_span"><i class="fa fa-money-bill-alt" aria-hidden="true"
                                                  style="color:#B34EE9"></i> Договорная</span>
                        {% else %}
                        <span class="search_span"><i class="fa fa-money-bill-alt" aria-hidden="true"
                                                  style="color:#B34EE9"></i> {{ ad.price }} {{ ad.valute }}</span>
                        {% endif %}
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span class="search_span"><i class="fa fa-calendar-alt" aria-hidden="true"
                                                  style="color:#B34EE9"></i> {{ ad.date }}</span>
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span class="search_span"> Просмотры {{ ad.views }}</span>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination d-flex justify-content-center">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&region={{region_context}}&search_text={{search_text}}" class="btn " data-slide="prev">
                <i class="fa fa-chevron-left"></i>пред.
            </a>
            {% endif %}

            <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

            {% if page_obj.has_next %}
            <a class="btn " href="?page={{ page_obj.next_page_number }}
            &region={{region_context}}&search_text={{search_text}}" data-slide="next"><i
                    class="fa fa-chevron-right"></i>след.</a>
            {% endif %}
        </div>
</div>
{% endblock %}