{%  extends 'base.html' %}
{% block title %}
<title>Поиск обьявлений</title>
{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="css/search.css">
{% endblock %}

{% block content %}
<div id="content">
    <div style="text-align: center; margin-top: 30px; font-size: 25px;">
        <p>Результаты поиска</p>
    </div>
    <hr>
    <hr>
    <div class="row" style="padding: 10%; padding-top: 0px;">
        <div id="search_item" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" style="margin:10px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="color: black;">
                <a href="ad.php?ad='.$id.'"> <img class="img-responsive img_search" src="'.$row[image].'"></a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="font-size: 20px;
        font-weight: 700">
                <a href="ad.php?ad='.$id.'"><p class="test_text">'.$title.'</p></a>
                <div class="product__info">
                    <div class="info__block">
                        <span class="search_span"><i class="fa fa-money-bill-alt" aria-hidden="true"
                                                  style="color:#B34EE9"></i> '.$price.'</span>
                    </div>
                    <div class="info__block">
                        <b class="info__icon"></b>
                        <span class="search_span"><i class="fa fa-calendar-alt" aria-hidden="true"
                                                  style="color:#B34EE9"></i> '.$mydate->Format('Y-m-d').'</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}