#main_content{
	 margin: auto;
	 margin-top: 100px;
	 padding: 20px;
	 padding-right: 10px;
	 box-shadow: 0 0 10px black; 
}
.image_ad_mini{
	height: 70px;
	margin: 0 5px;
	margin-bottom:10px;
	width: 70px;
}
.image_ad_mini:hover{
border:1px solid red;
}
.image_ad{
	width: 100%;
	max-height: 800px;
	margin:auto;
}
#main_content h2{
	color: black;
	text-align: center; 
	font-weight: bolder;
}
.left_block_text {
	text-align:  right;
	font-weight: bolder;
}

#content_adphp  p{
	font-weight: bolder;
	text-align: start;
}
.right p{
	color: #373DE9;
}