#main_content{
	background-color: white;
	margin: auto;
	box-shadow: 0 0 5px black;
	margin-top: 65px;
	padding-top:10px;
	padding-bottom: 10px;
}
#main_content h3{
	margin: 0 30%;
}
.form-control{
box-shadow: 0 0 5px rgba(112, 222, 98, 1);
}
#form{
	padding: 0 8% 4% 8%;
}
#select_cat{
	width: 40%;
}
.input-box{
border:1px solid #7D96E9;
}