<nav class="navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-menu" style="padding-bottom:10px;padding-top: 10px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse navbar-collapse" id="mynav">
            <a class=" col-md-2 col-lg-2 col-sm-12 col-xs-12 navbar-brand" href="index.php" style="text-align: center">Niet KG</a>
            <ul class="navbar-nav col-md-10 col-lg-10 col-xs-12 col-sm-12 row">
                <li class="col-md-8 col-lg-8 col-sm-12 col-xs-12 row" style="padding: auto;">
                    <form class="form form-inline col-md-12 col-lg-12 col-xs-12 col-sm-12" action="search.php" method="GET">
                        <input class="form-control col-md-10 col-lg-10 col-xs-12 col-sm-12" name="search_text" type="text" placeholder="Поиск...">
                        <button class="btn btn-secondary col-md-2 col-lg-2 col-sm-12 col-xs-12" type="submit">Поиск</button>
                    </form>
                </li>
                <li class="nav-item  col-md-4 col-xs-12" style=" text-align: center">
                    <a class="btn btn-primary" href="add_post.php" style="font-size: 18px; color: #fff; background-color: #3EAEE2;">
                        <i class="fas fa-plus-circle fa-1x" aria-hidden="true"></i>
                        Подать обьявление
                    </a>
                </li>
            </ul>
            </div>
    </nav>