{% load static %}
<div id="panel_cat" style="margin-top: 40px; background-color: #373a3c; ">
        <hr id="hr_nav">
        <ul class="nav panel-tabs">
            <a href="category.php?cat_id=2">
                <li>
                    <img src="{% static 'css/car.png' %}">
                    <div>Авто</div>
                </li>
            </a>
            <a href="category.php?cat_id=1">
                <li>
                    <i class="flaticon-house"></i>
                    <div>Недвижимость</div>
                </li>
            </a>
            <a href="category.php?cat_id=3">
                <li>
                    <i class="flaticon-responsive"></i>
                    <div>Электроника</div>
                </li>
            </a>
            <a href="category.php?cat_id=4">
                <li>
                    <i class="flaticon-hand-shake"></i>
                    <div>Работа</div>
                </li>
            </a>
            <a href="category.php?cat_id=5">
                <li>
                    <i class="flaticon-football-ball"></i>
                    <div>Спорт</div>
                </li>
            </a>
            <a href="category.php?cat_id=25">
                <li>
                    <i class="flaticon-jumping-horse-silhouette-facing-left-side-view"></i>
                    <div>Животные</div>
                </li>
            </a>
            <a href="#tab8">
                <li>
                    <i class="flaticon-music-festival-poster"></i>
                    <div>Развлечение</div>
                </li>
            </a>
            <a href="category.php?cat_id=7">
                <li>
                    <i class="flaticon-first-aid-kit"></i>
                    <div>Здоровье</div>
                </li>
            </a>
            <a href="#tab10">
                <li>
                    <i class="flaticon-indent-all"></i>
                    <div>Все</div>
                </li>
            </a>
        </ul>
    </div>